{% extends 'StaffApp/BaseMenu.html'%}
{% block Title%}تغییر رمز عبور{% endblock %}

{% block Link %}
    <a style="pointer-events: none;color: #f8f9fa;" class="text-muted">Profile Setting / </a>
{% endblock %}

{% block TitleCont %}تغیر رمز عبور{% endblock %}

{% block Contant %}
    <form method="POST" style="margin: 0 40px;">
        {% csrf_token %}
        <p style="direction: rtl;">تغییر رمز عبور</p><hr>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="رمز عبور جدید" name="password1" style="direction: rtl;">
            <span class="input-group-text" id="basic-addon1"> رمز عبور جدید وارد کنید</span>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="رمز عبور جدید" name="password2" style="direction: rtl;">
            <span class="input-group-text" id="basic-addon1">رمز عبور جدید را دوباره وارد کنید</span>
        </div>
            <button class="btn btn-dark col-12 col-lg-3 col-md-4" style="position:relative; left: 50%; transform: translateX(-50%);margin-top: 30px;" type="submit" name="submit" value="submit">تغییر رمز</button>
        </div>
        {% if Saved == "Saved"%}
        <div style="display: flex;justify-content: center;align-items: center;">
            <p class="bg-success" style="color: white;padding: 5px 20px;margin-top: 10px;border-radius: 3px;">Saved</p>
        </div>
        {% endif %}
    </form>
{% endblock %}