{% extends 'StaffApp/BaseMenu.html'%}
{% block Title%}پروفایل{% endblock %}

{% block Link %}
    <a style="pointer-events: none;color: #f8f9fa;" class="text-muted">تنظیمات کاربر / </a>
{% endblock %}

{% block TitleCont %}تنظیمات کاربر{% endblock %}

{% block Contant %}
    <form method="POST" style="margin: 0 40px;">
            {% csrf_token %}
            <p style="direction: rtl;">اطلاعات کاربر</p><hr>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="نام و نام خانوادگی" name="fullname" value="{{Info.fullname}}" style="direction: rtl;">
                <span class="input-group-text" id="basic-addon1">: نام و نام خانوادگی</span>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="شماره تلفن" name="phonenumber" value="{{Info.phonenumber}}" style="direction: rtl;">
                <span class="input-group-text" id="basic-addon1">: شماره تلفن</span>
            </div>
            <p style="direction: rtl;">اطلاعات کاربر برای سفارش</p><hr>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ایدی دیسکورد" name="idDiscord" value="{{Info.IDDiscord}}" style="direction: rtl;">
                <span class="input-group-text" id="basic-addon1">: ایدی دیسکورد</span>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ایمیل" name="email" value="{{Info.email}}" style="direction: rtl;">
                <span class="input-group-text" id="basic-addon1">: ایمیل</span>
            </div>
            <p style="direction: rtl;">اطلاعات حساب بانکی</p><hr>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="شماره حساب" name="bankid" id="bankid" value="{{Info.bankId}}" maxlength="16" minlength="16" style="direction: rtl;">
                <span class="input-group-text" id="basic-addon1">: شماره حساب</span>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="نام صاحب کارت بانکی" name="bankIdOwner" value="{{Info.bankIdOwner}}" style="direction: rtl;">
                <span class="input-group-text" id="basic-addon1">: نام صاحب کارت بانکی</span>
            </div>
            <button type="submit" class="btn btn-dark col-5" style="position:relative; left: 50%; transform: translateX(-50%);margin-top: 30px;" name="Save" value="Save">ذخیره</button>
            {% if Saved == "Saved"%}
            <div style="display: flex;justify-content: center;align-items: center;">
                <p class="bg-success" style="color: white;padding: 5px 20px;margin-top: 10px;border-radius: 3px;">ذخیره شد</p>
            </div>
            {% endif %}
    </form>
{% endblock %}