{% extends 'StaffApp/BaseMenu.html'%}
{% block Title%}List Servers{% endblock %}

{% block Link %}
    <a style="pointer-events: none;color: #f8f9fa;" class="text-muted">Profile Setting / </a>
{% endblock %}

{% block TitleCont %}Submit Your Offer{% endblock %}

{% block Contant %}
    <form method="POST" style="margin: 0 40px;">
            {% csrf_token %}
            <p>Personal</p><hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">FullName : </span>
                <input type="text" class="form-control" placeholder="FullName" name="fullname" value="{{Info.fullname}}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">PhoneNumber : </span>
                <input type="text" class="form-control" placeholder="PhoneNumber" name="phonenumber" value="{{Info.phonenumber}}">
            </div>
            <p>Account</p><hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ID Discord : </span>
                <input type="text" class="form-control" placeholder="ID Discord" name="idDiscord" value="{{Info.IDDiscord}}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email : </span>
                <input type="text" class="form-control" placeholder="Email" name="email" value="{{Info.email}}">
            </div>
            <p>Payment</p><hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Bank ID : </span>
                <input type="text" class="form-control" placeholder="Bank ID" name="bankid" id="bankid" value="{{Info.bankId}}" maxlength="19" minlength="19" onkeyup="CheckForBankID()" onchange="CheckForBankID()" onfocus="CheckForBankID()" onkeydown="CheckForBankID()" onblur="CheckForBankID()">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name Owner Bank ID : </span>
                <input type="text" class="form-control" placeholder="Name Owner Bank ID" name="bankIdOwner" value="{{Info.bankIdOwner}}">
            </div>
            <button type="submit" class="btn btn-dark col-5" style="position:relative; left: 50%; transform: translateX(-50%);margin-top: 30px;" name="Save" value="Save">Save</button>
            {% if Saved == "Saved"%}
            <div style="display: flex;justify-content: center;align-items: center;">
                <p class="bg-success" style="color: white;padding: 5px 20px;margin-top: 10px;border-radius: 3px;">Saved</p>
            </div>
            {% endif %}
    </form>

    <script>
        function CheckForBankID(){
        var value = document.getElementById('bankid').value
        value = value.replace("","-")
        if(value.length % 5 == 0 && value.length != 20){
            document.getElementById('bankid').value = document.getElementById('bankid').value + "-"
        }
      }
    </script>
{% endblock %}