{% extends 'UserAuth/BaseMenu.html'%}

{% block contact %}
    <div class="title">Registration</div>
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    {{form.username}}
                </div>
                <div class="input-box"></div>
                <div class="input-box">
                    <span class="details">Password</span>
                    {{form.password1}}
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    {{form.password2}}
                </div>
            </div>
            {% for error in form.username.errors %}
                <p style="color: #DC3545;">{{error}}</p>
            {% endfor %}
            {% for error in form.password2.errors %}
                <p style="color: #DC3545;">{{error}}</p>
            {% endfor %}
            <div class="button">
                <input class="btn btn-dark" type="submit" value="Register">
            </div>
            <p>Already have an account?<a href="/login" style="text-decoration: none;"> Login</a></p>
        </form>
    </div>
{% endblock %} 