{% extends 'UserAuth/BaseMenu.html'%}

{% block contact %}
    <div class="title" style="text-align: right;">ورود</div>
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details" style="text-align: right;">رمز عبور</span>
                    {{form.password}}
                </div>
                <div class="input-box">
                    <span class="details" style="text-align: right;">نام کاربری</span>
                    {{form.username}}
                </div>
            </div>
            {% for error in form.username.errors %}
                <p style="color: #DC3545;">{{error}}</p>
            {% endfor %}
            {% for error in form.password2.errors %}
                <p style="color: #DC3545;">{{error}}</p>
            {% endfor %}
            <div class="button">
                <input class="btn btn-dark" type="submit" value="ورود">
            </div>
            <p style="text-align: right;">اگر اکانت ندارید<a href="/register" style="text-decoration: none;"> ثبت نام </a></p>
        </form>
    </div>
{% endblock %} 