{% extends 'StaffApp/BaseMenu.html'%}
{% block Title%}List Offers{% endblock %}

{% block Link %}
    <a href="/Supply" style="color: #f8f9fa;">Supply / </a>
    <a href="/Supply/Offers" style="pointer-events: none;color: #d9dbdd;" class="text-muted">Offers / </a>
{% endblock %}

{% block TitleCont%}
Offers
{% endblock %}
{% block Contant %}
    <div style="margin: 0 40px;">
    <ul class="list-group list-group-horizontal justify-content-center ">
        <li class="list-group-item col list-group-item-light" style="text-align: center;padding: 10px 0;">ID</li>
        <li class="list-group-item col list-group-item-light" style="text-align: center;padding: 10px 0;">Game-Server</li>
        <li class="list-group-item col list-group-item-light" style="text-align: center;padding: 10px 0;">Item</li>
        <li class="list-group-item col list-group-item-light" style="text-align: center;padding: 10px 0;">Quant</li>
        <li class="list-group-item col list-group-item-light" style="text-align: center;padding: 10px 0;">Price</li>
        <li class="list-group-item col list-group-item-light" style="text-align: center;padding: 10px 0;">Name</li>
        <li class="list-group-item col list-group-item-light" style="text-align: center;padding: 10px 0;">status</li>
    </ul>
    {% if request.user.is_staff %}
        {% for Offer in Offerslist %}
            {% if Offer.Status == 1 %}
            <form method="POST" style="margin: 0;">
                {% csrf_token %}
                <ul class="list-group list-group-horizontal justify-content-center ">
                    <input type="hidden" name="OfferId" value="{{Offer.id}}">
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;"><a href="{{Offer.id}}">{{Offer.id}}</a></li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.game}}-{{Offer.server}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.item}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.itemQuantity}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.finalPrice}}$</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.NameUser}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">Pending...
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Pendig" value="Pendig" style="background: transparent;border: none;">Pending</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Delivered" value="Delivered" style="background: transparent;border: none;">Delivered</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Complete" value="Complete" style="background: transparent;border: none;">Complete</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Canceled" value="Canceled" style="background: transparent;border: none;">Canceled</button></a></li>
                        </ul>
                    </li>
                </ul>
            </form>
        {% elif Offer.Status == 2 %}
            <form method="POST" style="margin: 0;">
                {% csrf_token %}
                <ul class="list-group list-group-horizontal justify-content-center ">
                    <input type="hidden" name="OfferId" value="{{Offer.id}}">
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;"><a href="{{Offer.id}}">{{Offer.id}}</a></li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.game}}-{{Offer.server}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.item}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.itemQuantity}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.finalPrice}}$</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.NameUser}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">Complete
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Pendig" value="Pendig" style="background: transparent;border: none;">Pending</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Delivered" value="Delivered" style="background: transparent;border: none;">Delivered</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Complete" value="Complete" style="background: transparent;border: none;">Complete</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Canceled" value="Canceled" style="background: transparent;border: none;">Canceled</button></a></li>
                        </ul>
                    </li>
                </ul>
            </form>
        {% elif Offer.Status == 3 %}
            <form method="POST" style="margin: 0;">
                {% csrf_token %}
                <ul class="list-group list-group-horizontal justify-content-center ">
                    <input type="hidden" name="OfferId" value="{{Offer.id}}">
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;"><a href="{{Offer.id}}">{{Offer.id}}</a></li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.game}}-{{Offer.server}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.item}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.itemQuantity}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.finalPrice}}$</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.NameUser}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">Canceled
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Pendig" value="Pendig" style="background: transparent;border: none;">Pending</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Delivered" value="Delivered" style="background: transparent;border: none;">Delivered</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Complete" value="Complete" style="background: transparent;border: none;">Complete</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Canceled" value="Canceled" style="background: transparent;border: none;">Canceled</button></a></li>
                        </ul>
                    </li>
                </ul>
            </form>
        {% else %}
            <form method="POST" style="margin: 0;">
                {% csrf_token %}
                <ul class="list-group list-group-horizontal justify-content-center ">
                    <input type="hidden" name="OfferId" value="{{Offer.id}}">
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;"><a href="{{Offer.id}}">{{Offer.id}}</a></li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.game}}-{{Offer.server}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.item}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.itemQuantity}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.finalPrice}}$</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.NameUser}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">Delivered
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Pendig" value="Pendig" style="background: transparent;border: none;">Pending</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Delivered" value="Delivered" style="background: transparent;border: none;">Delivered</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Complete" value="Complete" style="background: transparent;border: none;">Complete</button></a></li>
                            <li><a class="dropdown-item" href="#"><button type="submit" name="Canceled" value="Canceled" style="background: transparent;border: none;">Canceled</button></a></li>
                        </ul>
                    </li>
                </ul>
            </form> 
    {% endif %}
    {% endfor%}
    {% else %}
        {% for Offer in user.offersrequest.all %}
            {% if Offer.Status == 1 %}
                <ul class="list-group list-group-horizontal justify-content-center ">
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;"><a href="{{Offer.id}}">{{Offer.id}}</a></li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.game}}-{{Offer.server}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.item}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.itemQuantity}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.finalPrice}}$</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">{{Offer.NameUser}}</li>
                    <li class="list-group-item col list-group-item-warning" style="text-align: center;padding: 10px 0;">Pending...</li>
                </ul>
            {% elif Offer.Status == 2 %}
                <ul class="list-group list-group-horizontal justify-content-center ">
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;"><a href="{{Offer.id}}">{{Offer.id}}</a></li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.game}}-{{Offer.server}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.item}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.itemQuantity}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.finalPrice}}$</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">{{Offer.NameUser}}</li>
                    <li class="list-group-item col list-group-item-success" style="text-align: center;padding: 10px 0;">Complete</li>
                </ul>
            {% else %}
                <ul class="list-group list-group-horizontal justify-content-center ">
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;"><a href="{{Offer.id}}">{{Offer.id}}</a></li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.game}}-{{Offer.server}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.item}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.itemQuantity}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.finalPrice}}$</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">{{Offer.NameUser}}</li>
                    <li class="list-group-item col list-group-item-danger" style="text-align: center;padding: 10px 0;">Canceled</li>
                </ul>
            {% endif %}
        {% endfor%}
    {% endif %}
</div>
{% endblock %}
